* {
    background:     #1e1e2e;
    surface:        #313244;

    foreground:     #cdd6f4;
    foreground-alt: #6c7086;

    blue:           #89b4fa;
    green:          #a6e3a1;
    yellow:         #f9e2af;
    red:            #f38ba8;
    purple:         #cba6f7;
}
